<head>
    <title>Confirmation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css">
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div>
        <div style="margin-top: 5%;" class="ui raised very padded text container segment">
            <h2 class="ui large header" style="text-align:center;">Please confirm your details before submitting</h2>
            <div class="ui form" method="get">
                <div class="field"><label>First Name</label><input type='text' value=<%=detail.fname%> disabled></div>
                <div class="field"><label>Last Name</label><input type='text' value=<%=detail.lname%> disabled></div>
                <div class="field"><label>E-mail</label><input type='text' value=<%=detail.email%> disabled></div>
                <div class="field"><label>Mobile Number</label><input type='text' value=<%=detail.num%> disabled></div>
                <div class="field"><label>Registration Type</label><input type='text' value=<%=detail.type%> disabled></div>
                <div class="field"><label>No. of Tickets</label><input type='text' value=<%=detail.ticketn%> disabled></div>
                <div class="field"><label>Preview ID Card</label><img src="/cards/<%=detail._id%>.png" alt="ID Card" width="600" height=300></div>
                <div><a class="ui button primary" href="/success/<%=detail._id%>">Confirm</a><a class="ui red button" href="/edit/<%=detail._id%>">Decline</a></div>
            </div>
        </div>
    </div>
</body>