<head>
    <title>Administrator Portal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Mode Selection<i class="ellipsis vertical icon"></i></div>
        <div class="right menu">
            <div class="ui item medium active header"><a href='/list'>Entries</a></div>
            <div class="ui item medium header"><a href='/list/chart'>Registration Stats</a></div>
            <div class="ui item medium header"><a  href="/logout">Logout</a></div>
        </div>
    </div>
    <div style=" margin-top: 5%; margin-left: 7%" class="ui link cards">
        <%detail.forEach(function(data){%>
            <div class="card">
                <div class="image">
                    <img src="/cards/<%=data._id%>.png">
                </div>
                <div class="content">
                    <div class="ui small header">ID: <a target="_blank" href="/list/<%=data._id%>"><%=data._id%></a></div>
                    <div class="description"><%=data.fname%> <%=data.lname%></div>
                </div>
                <div class="extra content">
                    <span>Registered on <%=data.created.toDateString()%></span>
                </div>
            </div>
        <%});%>
    </div>
</body>