<head>
    <title>Administrator Portal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div class="ui secondary pointing menu">
        <a class="ui menu item medium header" href="/logout">Logout</a>
    </div>
    <%var listType=[['Self',0],['Group',0],['Corporate',0],['Others',0]];%>
    <div id="piechart"></div>
    <div style="margin-left: 7%" class="ui link cards">
        <%detail.forEach(function(data){%>
            <%console.log(data.type=='Self')%>
            <%if(data.type=='Self') listType[0][1]+=1;%>
            <%if(data.type=='Group') listType[1][1]+=1;%>
            <%if(data.type=='Corporate') listType[2][1]+=1;%>
            <%if(data.type=='Others') listType[3][1]+=1;%>
            
            <div class="card">
                <div class="image">
                    <img src="/cards/<%=data._id%>.png">
                </div>
                <div class="content">
                    <div class="header">ID:<a target="_blank" href="/list/<%=data._id%>"><%=data._id%></a></div>
                    <div class="description"><%=data.fname%> <%=data.lname%></div>
                </div>
                <div class="extra content">
                    <span>Registered on <%=data.created.toDateString()%></span>
                </div>
            </div>
        <%});%>
    </div>
    <%console.log(listType)%>
    <div id="piechart"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart(){
            var temp=google.visualization.arrayToDataTable(listType);
            var options = {'title':'Report', 'width':550, 'height':400};
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        };
    </script>
</body>